:root {
    --color1: #d1d1e0;
    --color2: #1e3d7b;
    --color3: #a69293;
    --color4: #6d534b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Copperplate, Garamond, serif;
    color: var(--color2);
}
/* Start of Header */
header {
    padding: 25px 40px;
    background-color: var(--color1);
    color: var(--color2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    top: 0;
    z-index: 50;
    text-decoration: none;   
}
header h1 {
    text-decoration: none; 
    font-weight: bold;
    font-size: 36px;
    color: #91b1ce;
    padding: 5px 15px;
    border: 3px solid var(--color4);
    border-radius: 8px;
    background-color: var(--color3);
    margin: 0; 
}
header a {
    color: var(--color2);
    text-decoration: none;
}
header nav {
    margin: 10px;
}
/* Navigation */
header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 5px 10px;
    font-size: 1.75vw;
    margin: 10px;
}
header nav ul li a:hover {
    color: var(--color2);
    border: 3px solid var(--color4);
    border-radius: 8px;
    background-color: var(--color3);
}

/* End of Header */
section {
    background-color: var(--color1);
}
/* Start of Hero */
.hero {
    background-image: url(./images/superiorrocks.JPG);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.hero img {
    height: 300px;
    border-radius: 50%;
    margin-left: 50px;
}
.hero h2 {
    font-size: 30px;
    padding: 5px 20px;
    border: 3px solid var(--color4);
    border-radius: 8px;
    background-color: var(--color3);
    color: var(--color2);
    margin-bottom: 20px;
}
/* End of Hero */
/* Start of Main section */
.main {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--color1); 
    color: var(--color2);
    margin-bottom: 50px;
}
.about-me-title  {
    width: 30%;
    border-right: 3px solid var(--color4);
}
.about-me-title h3 {
    padding-right: 5px;
    font-size: 28px;
    text-align: right;
}
.about-me-text {
    width: 60%;
    font-size: 20px;
    background-color: var(--color1);
    padding-left: 5px;
    padding-right: 20px;
    text-align: justify;
}
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-title {
    width: 30%;
    border-right: 3px solid var(--color4);
}
.work-title h3 {
    padding-right: 5px;
    font-size: 28px;
    text-align: right;
}
.work-list {
    width: 60%;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;  
}
.work-items {
    background-color: #91b1ce;
    background-image: linear-gradient(#91b1ce, #a69293);
    text-align: left;
    padding: 20px;
    font-size: 30px;
    height: 250px;
    border: 5px solid var(--color4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.work-items:first-child {
    width: 100%;
    height: 300px;
}
.work-items:not(:first-child) {
    width: 50%;
    flex-direction: column;
}
.work-items .item2 {
    flex-direction: column;
}
.img-box img {
    height: 250px;
}
.img-box2 img {
    height: 70px;
    width: 95%
}
.work-items:not(:first-child) {
    width: 50%;
}
.work-list a {
    text-decoration: none;
    color: var(--color2);
    font-size: 32px;
}
.work-list a span {
    font-size: 20px;
}
.item5 {
    background-image: url(./images/image-bg.jpg);
    background-size: cover;
    background-position: 80%;
}
#font-2 {
    font-size: 32px;
}
/* End of main section */
footer {
    background-color: var(--color1);
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}
.contact h3 {
    padding-right: 5px;
    font-size: 28px;
    text-align: right;
    width: 30%;
    border-right: 3px solid var(--color4);
}
/* Contact navigation */
.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.contact ul li a {
    padding: 5px 10px;
    font-size: 2.00vw;
    margin: 5px;
    text-decoration: none;
    color: var(--color2);
}
.contact nav ul li a:hover {
    color: var(--color2);
    border: 3px solid var(--color4);
    border-radius: 8px;
    background-color: var(--color3);
}
/* Media queries */
@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 20px;
    }
    .contact ul li a {
        font-size: 20px;
    }
    .work {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .work-title h3 {
        text-align:center;
    }
    .work-title {
        border-bottom: 3px solid var(--color4);
        border-right: none;
    }
    .work-list {
        margin: none;
        width: 100%
    }
    .work-list {
        margin: none;
        width: 80%;
    }
    .work-items:not(:first-child) {
        width: 100%;
    }
    .contact {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .contact h3 {
        text-align: center;
        padding-right: none;
        border-right: none;
        border-bottom: 3px solid var(--color4);
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 768px) {
    .work {
        margin-top: 50px;
    }
    .about-me {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .about-me-title h3 {
        text-align: center;
    }
    .about-me-title {
        border-right: none;
        border-bottom: 3px solid var(--color4);
        margin-bottom: 5px;
    }
    
}
@media screen and (max-width: 575px) {
    header {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav ul li a {
        margin: 10px;
        padding: 2px 5px;
        font-size: 28px;
        font-weight: bold;
    }
    .hero {
        flex-direction: column;
        align-items: center;
    }
    .hero img {
        height: 200px;
        margin-left: 0;
    }
    .about-me-text {
        font-size: 28px;
        text-align: justify;
        width: 100%;
    }
    .work-items {
        flex-direction: column;
        height: 300px;
    }
    .work-items:first-child {
        height: auto;
    }
    .contact ul {
        flex-direction: column;
    }
    .contact ul li a {
        margin: 10px;
        padding: 2px 5px;
        font-size: 28px;
        font-weight: bold;
    }
    .contact h3 {
        font-size: 32px;
    }
    .contact span {
        font-size: 20px;
    }
}