:root {
    --color1: #d1d1e0;
    --color2: #1e3d7b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Copperplate, Garamond, serif;
    color: var(--color2);
}


/* Start of Header */
header {
    padding: 25px 40px;
    background-color: var(--color1);
    color: var(--color2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 50;
    text-decoration: none;   
}
header h1 {
    text-decoration: none; 
    font-weight: bold;
    font-size: 36px;
    color: var(--color2);
    margin: 0; 
}
header a {
    color: var(--color2);
    text-decoration: none;
}
header nav {
    margin: 10px;
}
header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}
header nav ul li a:hover {
    background: var(--color2);
    color: var(--color1);
    border-radius: 10px;
}
/* End of Header */
section {
    padding: 60px;
}

/* Start of Hero */
.hero {
    background-image: url(./images/superiorrocks.JPG);
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.hero h2 {
    font-size: 32px;
    padding: 5px 20px;
    background-color: var(--color1);
    color: var(--color2);
}
/* End of Hero */

